<div class="navbar">
  <ul>
    <li>
      <div routerLink="home-page" class="game-logo">
        <div><img src="sudoku-icon.svg" alt="Sudoku" class="game-icon"></div>
        <p class="game-title">Sudoku</p>
      </div>
    </li>
    <li id="play" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="playMaze" (click)="sendTinglePlay()">Play</a></li>
    <li id="solve" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="solveMaze" (click)="sendTingleSolve()">Solve</a></li>
    <!-- <li id="about"><a routerLink="aboutme" (click)="sendTingleAbout()">About me</a></li> -->

    <li class="icon"><a href="javascript:void(0);" onclick="myFunction()"><mat-icon>list</mat-icon></a></li>
  </ul>
</div>
